.modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: opacity0 .2s ease-in;
}

.modal__content {
  position: relative;
  width: auto;
  font-size: 14px;
  font-weight: 400;
  margin: 50% 2%;
  transition: opacity 0.3s ease-in;
  display: flex;
  flex-direction: column;
  color: #fff;
  border-radius: 51px;
  background: linear-gradient(235deg, rgba(6, 1, 255, 0.20) 18.34%, rgba(6, 1, 255, 0.00) 61.89%), #0D0B27;
  box-shadow: -9px -14px 50px 0px rgba(0, 10, 255, 0.25) inset, 0px 3px 4px 0px #1D47F0 inset;
}

@media (min-width: 576px) {
  .modal__content {
    max-width: 500px;
    margin: 10% auto;
  }
}

.modal__show .modal__backdrop,
.modal__show .modal__content {
  opacity: 1;
  z-index: 1050;
  pointer-events: auto;
  overflow-y: auto;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}

.modal__btn-close {
    padding: 10px 8px;
    text-align: center;
    background: rgba(29, 71, 240, 0.40);
    border: 0 solid #4ec8ef;
    text-shadow: 0 0 rgb(0 0 0 / 10%);
    border-radius: 1px;
    cursor: default;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 33px;
    line-height: 33px;
}

.modal__btn-close:focus,
.modal__btn-close:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background: rgba(29, 71, 240, 0.60);
}
.focus{
  background: #1D47F0;
}
.modal__body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

.modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.lang{
  position: fixed;
  top: 5px;
  right: 10px;
  font-size: 22px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: #fff;
}